
{% load socialaccount %}
{% providers_media_js %}

<html>
<head>
        <title>Login</title>
    <meta charset="UTF-8">
    <meta name="description" content="HALO photography portfolio template">
    <meta name="keywords" content="photography, portfolio, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'esop/style.css' %}"/> -->
    



    
    <!-- Favicon -->   
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/flaticon.css"/>
    <link rel="stylesheet" href="css/animate.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/style.css"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <style>
        #notification{
            background-color: lightgreen;
            border:1px black;
            background-size: 50%;
        }
               #bg{

            background-size: 1800px 600px;
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;
        }
    </style>

</head>
<body>

<body id="bg" style="background-image: url('{% static "images/kk.jpeg"%}')";>

 {% include "topbar.html" %}
<!-- /*<div class="view" style="background-image: url('{% static "images/IIIT.jpg" %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">*/ -->


<div class="container-fluid" style="position: absolute;top:30%;left:28%;width:35%;">

    
            <div id="notification">
                <div id='notificationRed' style='background-color: #ffcccb;'>
                {% if error_message %}
                    <p><strong><font color='red'>{{ error_message }}</font></strong></p>
                {% endif %}
                </div>
                {% if register %}
                    <p><strong><font color='green'>{{ register }}</font></strong></p>
                {% endif %}
            </div>
            <div class="panel panel-default  " style="width:120%; ">
                
                
                <center>

                
                <div class="panel-body">
                    
                
                    
                        <span class="login100-form-title p-b-49" style="font-size: 25px;"><strong>Login</strong>
                       

                        
                    </span>
                    
                       
                  
                <center>

                    <br><br>

                    <form class="form-horizontal" id="login" role="form"  action="{% url 'Form'%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-group">
                            <div class="col-sm-10">
                                <span class="glyphicon glyphicon-user">
                                    <input id="id_username" maxlength="30" name="username" type="text" placeholder="EMAIL"  style="font-family: Courier New;font-size: 15px;border: none; border-bottom: 2px solid black;">
                                    </span>
                            </div>
                        </div>
                        <div id="data"></div>
                        <div class="form-group">
                            <!-- <label class="control-label col-sm-2" for="id_password">
                                
                            </label> -->
                            <div class="col-sm-10">
                                <strong><span class="glyphicon glyphicon-asterisk"></strong>&nbsp&nbsp&nbsp
                                    <input id="id_password" maxlength="30" name="password" type="password"  placeholder="PASSWORD" style="font-family: Courier New;font-size: 15px; border: none; border-bottom: 2px solid black;"></span>
                            </div>
                        </div>
                        </center>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>

                <div class="col s12 m6 offset-m4 center-align ">
                <a class="oauth-container btn darken-4 white black-text col-2"  href="{% provider_login_url "google" %}"  style="text-transform:none;width: 100px;height: 120px; float:'left' ">
                   
                        <img width="80%" style="margin-top:30px; margin-right:8px" alt="Google sign-in" 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1024px-Google_%22G%22_Logo.svg.png" />
                    
                       
                </a>
                <a class="col-2" href="{% provider_login_url "facebook"  method="oauth2" %}"> <img width="15%" style="margin-top:7px; margin-right:8px; display:'inline' " alt="Google sign-in" 
                            src="{% static "images/facebook.png"%}" />
                        </a>

                 <a class="col-2" href="{% provider_login_url "github"  method="oauth2" %}"> <img width="25%" style="margin-top:7px; margin-right:8px; display:'inline'" alt="Google sign-in" 
                            src="{% static "images/github.png"%}" />
                        </a>
               
            </div>


                <div class="panel-footer" style="font-size: 15px;">

                    Don't have an account? <a href="{% url 'register'%}">Click here</a> to register.
                </div>
                
                   
        
                </center>

                </div>
                
            </div>



      
        
    

</div>

<script>
        

        $("#id_username").change(function () {

          var username = $("#id_username").val();
          // alert(username);
          
          $.ajax({
            type:'POST',
            url: '/ajax/',
            data:{
                'str':username,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            dataType: 'json',
            success: function (data) {
                // alert("done")
                if(data.is_taken)
                {
                    var ht = '<img src="{% static "images/tick.png" %}" width="20%">';
                    $("#data").html(ht);
                }
                else
                {
                    var ht = '<img src="{% static "images/cross.png" %}" width="10%">';
                    // alert("YES");
                    $("#data").html(ht);
                }
                
            }
          });

        });
    
</script>
</body>
</html>
