
{% load socialaccount %}

<html>
<head>
        <title>Login</title>
    <meta charset="UTF-8">
    <meta name="description" content="HALO photography portfolio template">
    <meta name="keywords" content="photography, portfolio, onepage, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    {% load static %}
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'esop/style.css' %}"/> -->
    



    
    <!-- Favicon -->   
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Fonts -->
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/flaticon.css"/>
    <link rel="stylesheet" href="css/animate.css"/>
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <link rel="stylesheet" href="css/style.css"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <style>
        #notification{
            background-color: lightgreen;
            border:1px black;
            background-size: 50%;
        }
               #bg{

            background-size: 1800px 600px;
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;
        }
    </style>

</head>
<body>

<body id="bg" style="background-image: url('{% static "images/kk.jpeg"%}')";>

 {% include "topbar.html" %}
<!-- /*<div class="view" style="background-image: url('{% static "images/IIIT.jpg" %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">*/ -->


<div class="container-fluid" style="position: absolute;top:30%;left:35%;width:35%;">

    
            <div id="notification">
                <div id='notificationRed' style='background-color: #ffcccb;'>
                {% if error_message %}
                    <p><strong><font color='red'>{{ error_message }}</font></strong></p>
                {% endif %}
                </div>
                {% if register %}
                    <p><strong><font color='green'>{{ register }}</font></strong></p>
                {% endif %}
            </div>
            <div class="panel panel-default">
                
                
                <center>

                
                <div class="panel-body">
                    
                
                    
                        <span class="login100-form-title p-b-49" style="font-size: 25px;"><strong>Login</strong>
                        <div class="panel-footer" style="font-size: 15px;">

                        
                    </span>
                    
                       
                  
                <center>
                <a href="{% provider_login_url 'google' %}">

                <div class="col s12 m6 offset-m4 center-align">
                <a class="oauth-container btn darken-4 white black-text"  href="{% provider_login_url "google" %}"  style="text-transform:none;width: 200px;height: 120px;">
                   
                        <img width="100px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1024px-Google_%22G%22_Logo.svg.png" />
                    
                       
                </a>
            </div>


                <div class="panel-footer" style="font-size: 15px;">
                   
                </div>
                </center>

                </div>
                
            </div>
        
    

</div>

<script>
        

        $("#id_username").change(function () {

          var username = $("#id_username").val();
          // alert(username);
          
          $.ajax({
            type:'POST',
            url: '/ajax/',
            data:{
                'str':username,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            dataType: 'json',
            success: function (data) {
                // alert("done")
                if(data.is_taken)
                {
                    var ht = '<img src="{% static "images/tick.png" %}" width="20%">';
                    $("#data").html(ht);
                }
                else
                {
                    var ht = '<img src="{% static "images/cross.png" %}" width="10%">';
                    // alert("YES");
                    $("#data").html(ht);
                }
                
            }
          });

        });
    
</script>
</body>
</html>
