<html>
  <head>
    <title>Main</title>
    <meta charset="UTF-8" />
    <meta name="description" content="HALO photography portfolio template" />
    <meta
      name="keywords"
      content="photography, portfolio, onepage, creative, html"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Satisfy"
      rel="stylesheet"
      type="text/css"
    />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'esop/style.css' %}"/> -->
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Fonts -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style></style>
  </head>
  <body>
    <!-- {{ qrCode }} -->
    <div class="container m-4">
      <center>
        <h3>Please Scan!</h3>
        <img class="img-responsive" alt="" src="{% static qrCode %}" />
      </center>
    </div>
  </body>
</html>
