<html>
  <head>
    <title>Main</title>
    <meta charset="UTF-8" />
    <meta name="description" content="HALO photography portfolio template" />
    <meta
      name="keywords"
      content="photography, portfolio, onepage, creative, html"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Satisfy"
      rel="stylesheet"
      type="text/css"
    />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'esop/style.css' %}"/> -->

    <!-- Google Fonts -->

    <link
      href="https://fonts.googleapis.com/css?family=Satisfy"
      rel="stylesheet"
      type="text/css"
    />
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'esop/style.css' %}"/> -->

    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"
    />

    <style>
      #time {
        position: absolute;
        right: 10px;
        top: 0px;
        font-family: "Orbitron", sans-serif;
        color: #66ff99;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
      }
      #status {
        position: absolute;
        right: 10px;
        top: 30px;
        font-family: "Orbitron", sans-serif;
        color: #66ff99;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
      }
      .modal {
        left: auto !important;
        width: auto !important;
        margin-left: auto !important;
        background-color: transparent !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        position: relative !important;
        top: 50% !important;
        overflow: visible !important;
        transition: opacity 0.15s linear 0s !important;
    }
       #bg{

            background-size: 1800px 600px;
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;
        }
    </style>
  </head>
  <body>


   <body id="bg" style="background-image: url('{% static 'images/kk.jpeg'%}')";>

    <!-- {{ qrCode }} -->
    {% include "topbar.html" %}
    <div class="container">
      <div style="position: absolute; left: 0px;">
        <center><h3>Please Scan!</h3></center>
        <img class="img-responsive" alt="" src="{% static qrCode %}" />
      </div>

      <div style="position: absolute; right: 0px;">
        <center>
          <div class="container">
            <h4>Attendance for <br /><b>{{course}}</b></h4>
            <div
              style="
                float: right;
                position: absolute;
                right: 60px;
                top: 5px;
                color: #66ff99;
              "
            >
              <h5><b>{{date}}</b></h5>
            </div>
            <div
              id="time"
              style="
                float: right;
                margin-top: 40px;
                position: absolute;
                right: 50px;
              "
            ></div>
          </div>
        </center>
        <div style="float: left;">
          <center><h4>Marked</h4></center>
          <div
            id="marked"
            style="width: 450px; overflow-y: auto; height: 300px;"
          ></div>
        </div>
        <div style="float: right;">
          <center><h4>Unmarked</h4></center>
          <div
            id="liveAttendance"
            style="width: 450px; overflow-y: auto; height: 300px;"
          ></div>
        </div>
      </div>
    </div>

    
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Time Up</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Attendance for the Course - <b>{{course}}</b>
            is now over. <br>STATUS:<br />
            <font color='green'><b>PRESENT:</b></font>
            <div id="presentSTAT" style="display: inline;"></div>
            <br>
            <font color='red'><b>ABSENT:</b></font>
            <div id="absentSTAT" style="display: inline;"></div>
            <br>
            <font color='green'>Attendance recorded SUCCESSFULLY!</font>
          </div>
          <div class="modal-footer">
            
            <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>

    
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- Compiled and minified JavaScript -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <script>
    window.CSRF_TOKEN = "{{ csrf_token }}";

    $(document).ready(function () {
      // run the first time; all subsequent calls will take care of themselves
      setTimeout(executeQuery, 1000);
    });

    let testName = [
      { name: "Anivrat Goel", roll: "1601009", status: "A" },
      { name: "Monisha Ranjan", roll: "1701037", status: "A" },
      { name: "Akansha Singh", roll: "1701003", status: "A" },
      { name: "Sahil Kalamkar", roll: "1700000", status: "A" },
      { name: "Sushant Singh", roll: "1701069", status: "A" },
    ];
    let marked = [];
    show(testName);

    function markPresent(roll) {
      for (var i = 0; i < testName.length; i++) {
        if (testName[i].roll == roll) {
          testName[i].status = "P";
          marked.push(testName[i]);
        }
      }
      reAdjustTables();
    }

    function show(arr) {
      let str = "";
      arr.forEach((name) => {
        str +=
          "<div class='container' style='border:1px solid red; border-radius:25px; background-color:tomato; padding:10px;'>";
        str += "<span><b>" + name.roll + "</b></span> ";
        str += "   <span>" + name.name + "</span>";
        str +=
          "<div style='float:right'><button class='btn btn-dark' style='border-radius:50%;' id='P" +
          name.roll +
          "' onclick=markPresent('" +
          name.roll +
          "') ><font color='green'><b>P</b></font></button> ";
        str +=
          " <button class='btn btn-dark' style='border-radius:50%;' id='A" +
          name.roll +
          "' onclick=markAbsent('" +
          name.roll +
          "') ><font color='red'><b>A</b></font></button></div>";
        str += "</div><br>";
      });
      document.getElementById("liveAttendance").innerHTML = str;
    }

    function show2(arr) {
      let str = "";
      arr.forEach((name) => {
        if (name.status == "P")
          str +=
            "<div class='container' style='border:1px solid darkgreen; border-radius:25px; background-color:limegreen; padding:10px;'>";
        else
          str +=
            "<div class='container' style='border:1px solid darkred; border-radius:25px; background-color:tomato; padding:10px;'>";

        str += "<span><b>" + name.roll + "</b></span> ";
        str += "   <span>" + name.name + "</span></div><br>";
      });
      document.getElementById("marked").innerHTML = str;
    }

    function checkInMarked(name) {
      for (var j = 0; j < marked.length; j++) {
        if (marked[j].name === name) return true;
      }

      return false;
    }
    function getIndFromTest(name) {
      for (var i = 0; i < testName.length; i++) {
        if (testName[i].name == name) return i;
      }
      return -1;
    }
    function reAdjustTables() {
      // if in marked-> delete from testname
      for (var i = 0; i < marked.length; i++) {
        var ind = getIndFromTest(marked[i].name);
        if (ind != -1) testName.splice(ind, 1);
      }
      show(testName);
      show2(marked);
    }

    function closeAttendance() {
      $.ajax({
        type: "POST",
        url: "closeAttendance/",
        data: {
          student: JSON.stringify({ marked: marked }),
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        dataType: "json",
        success: function (data) {},
      });
    }
    var exc;
    function executeQuery() {
      $.ajax({
        type: "POST",
        url: "pingDB/",
        data: {
          // str: username,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        dataType: "json",
        success: function (data) {
          // console.log(data);
          for (var i = 0; i < data.length; i++) {
            if (!checkInMarked(data[i].name)) {
              data[i].status = "P";
              marked.push(data[i]);
            }
          }
          // console.log(marked);
          reAdjustTables();
        },
      });
      exc = setTimeout(executeQuery, 2000); // you could choose not to continue on failure...
    }

    function updateTheRegister() {
      // all the unmarked students should now be marked absent
      // and then push this data to DB
      for (var i = 0; i < testName.length; i++) {
        marked.push(testName[i]);
      }
      var pc = 0;
      var ac = 0;
      for (var i = 0; i < marked.length; i++) {
        if (marked[i].status == "P") pc++;
        else ac++;
      }
      document.getElementById("presentSTAT").innerHTML = '<b>'+pc+'</b>';
      document.getElementById("absentSTAT").innerHTML = '<b>'+ac+'</b>';
      reAdjustTables();
    }

    var date = 10;
    var t;
    function currentTime() {
      var hour = 0;
      var min = parseInt(date / 60);
      var sec = date - min * 60;
      hour = updateTime(hour);
      min = updateTime(min);
      sec = updateTime(sec);
      document.getElementById("time").innerText =
        hour + " : " + min + " : " + sec; /* adding time to the div */
      t = setTimeout(function () {
        date -= 1;
        if (date === -1) {
          // attendacne time is over now
          updateTheRegister();

          clearTimeout(t);
          clearTimeout(exc);
          $("#myModal").modal("show");
          closeAttendance();
          return;
        }
        currentTime();
      }, 1000); /* setting timer */
    }

    function updateTime(k) {
      if (k < 10) {
        return "0" + k;
      } else {
        return k;
      }
    }

    currentTime();
  </script>
</html>